  * { margin: 0; padding: 0; border: 0; }

  body {
    font-family: helvetica, arial, sans-serif;
    font-size: 0.8em;
  }

  #content {
    width: 100%;
  }

  ul {
    list-style-type: none;
  }

  table {
    border: 0;
    padding: 0;
    margin: 0;
    font-size: 1em;
  }

  /* Subreddits */
  ul#subreddits {
    background: #cee3f8;
    width: 100%;
    border-bottom: 2px solid #ff4500;
    overflow: auto;
  }

  ul#subreddits li {
    float: left;
    padding: 5px;
    margin-right: 3px;
    font-weight: bold;
  }

  ul#subreddits li a {
    text-decoration: none;
  }

  ul#subreddits li.active a {
    color: #ff4500;
  }

  ul#subreddits li a:hover {
    color: #ff4500;
  }

  ul#subreddits li a:visited {
    color: #8a2be2;
  }

  /* Stories */
  table {
    width: 100%;
    padding-top: 10px;
    clear: left;
  }

  tr {
    background: #fff;
    padding: 0 0 5px 5px;
    overflow: hidden;
  }

  td.external_link {
    width: 90%;
  }

  td.comment_link {
    vertical-align: center;
    width: 10%;
  }
