  * { margin: 0; padding: 0; border: 0; }

  body {
    font-family: helvetica, arial, sans-serif;
    font-size: 0.8em;
  }

  a:hover {
    color: #ff4500;
  }

  #content {
    width: 100%;
  }

  ul {
    list-style-type: none;
  }

  table {
    border: 0;
    padding: 0;
    margin: 0;
    font-size: 1em;
  }

  /* Subreddits */
  ul#subreddits {
    background: #cee3f8;
    width: 100%;
    border-bottom: 2px solid #ff4500;
    overflow: auto;
  }

  ul#subreddits li {
    float: left;
    padding: 5px;
    margin-right: 3px;
    font-weight: bold;
  }

  ul#subreddits li a {
    text-decoration: none;
  }

  ul#subreddits li.active a {
    color: #ff4500;
  }

  ul#subreddits li a:hover {
    color: #ff4500;
  }

  ul#subreddits li a:visited {
    color: #8a2be2;
  }

  /* Stories */
  table {
    width: 100%;
    padding-top: 5px;
    clear: left;
  }

  tr {
    overflow: hidden;
  }

  tr.even {
    background: #f1f7fd;
  }

  tr.odd {
    background: #fff;
  }

  td.external_link {
    width: 100%;
    padding: 3px;
  }

  td.comment_link {
    vertical-align: center;
    text-align: left;
    padding-right: 5px;
  }

  td.comment_link a {
    background: #f1f7fd;
    color: #346faa;
    text-decoration: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 1px 3px 1px 3px;
    border: 1px solid #346faa;
  }

  td.comment_link a:hover {
    background: #cee3f8;
    color: #ff4500;
  }
